<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="messages">
	<insert id="create" parameterType="hashmap">
		insert into messages(target, body, pass) values(#{target}, #{body}, #{pass})
	</insert>
	<select id="readByTarget" resultType="message">
		select * from messages where target=#{target}
	</select>
	<delete id="delete" parameterType="hashmap">
		delete from messages where no = #{no} and pass = #{pass}
	</delete>
</mapper>